h1 {
  text-align: center;
  color: rgb(245, 66, 11);
  font-weight: 700;
  font-family: cursive;
}
.heart {
  color: red;
}
.underline {
  text-decoration: underline;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

#section.p {
  text-decoration-line: underline;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: lightskyblue;
}

.bold {
  font-size: xx-large;
}

.poem {
  text-align: left;
  font-family: 'Cursive, Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  font-size: 18px;
  line-height: 2;
}
.tag {
  color: darkblue;
  font-family: fantasy;
}
.point {
  font-size: medium;
  font-family: 'fantasy';
  color: purple;
}

.bigFont {
  font-size: 100px;
}
span {
  color: aquamarine;
}
.tag {
  background-color: rebeccapurple;
  font-size: 20px;
}
