h2 {
  color: aquamarine;
}

button {
  color: white;
  background-color: blueviolet;
}

p {
  color: red;
}

h3 {
  color: olive;
}
h5 {
  color: rgb(216, 25, 171);
}
h6 {
  color: rgb(500, 304, 100);
  background-color: olivedrab;
}

span {
  color: rgb(7, 80, 5);
}

div {
  color: rgb(20, 22, 20);
}
body {
  background-color: rgb(76, 90, 25);
}
.tag {
  background-color: rebeccapurple;
  font-size: 50px;
}
li a {
  color: teal;
}
header a {
  color: rgb(209, 134, 209);
}
h1 + button {
  background-color: tomato;
}
.button {
  background-color: rgb(69, 78, 83);
}
div > section {
  color: blue;
}
section nav {
  align-self: inherit;
}
input[type='username'] {
  color: rgb(255, 13, 13);
}
a:hover {
  color: rgb(108, 110, 231);
}
button:hover {
  color: aquamarine;
}
.login:active {
  background-color: rgb(13, 14, 12);
}
p.tag::first-letter {
  color: blue;
  text-transform: uppercase;
  font-size: 70px;
  font-family: cursive;
}
button + h2::first-line {
  text-transform: capitalize;
  font-family: fantasy;
}
h2 + h2::first-letter {
  text-transform: capitalize;
  color: blue;
}
h2 + h2 + h2::first-letter {
  text-transform: capitalize;
  color: brown;
}
p.tag + p::first-letter {
  color: brown;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p.tag + p + p::first-letter {
  color: yellow;
  text-transform: uppercase;
  font-size: 70px;
  font-family: monospace;
}
p.pseudo::selection {
  color: teal;
}
p.pseudo {
  font-size: 40px;
}
